@charset "utf-8";
@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: var(--color2);
}

/* 変数 */
:root{
    --color1:#555048;
    --color2:#fff5eb;
    --color3:#e7a005;
    --color4:#7bb622;
    --color5:#85c9d5;
    --color6:#e9cee8;
    --size:800px;
    --size2:300px;
    --size3:500px;
    --font1:"Caveat", cursive;
    --font2:"Birthstone", cursive;
    --font3:"Zen Kaku Gothic Antique", sans-serif;
    --animation1: scale-in-center 2s;
}
/*背景色（仮）*/
body{
    background-color: var(--color1);
}
a{
    font-family: var(--font1);
}
a:hover{
    color: var(--color3);
}

h1,h2,h3{
    font-family: var(--font1);
    text-align: center;
}
p{
    font-family: var(--font3);
}
/* header */
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #877a65;
}
.header{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    /* background-color: #7bb622; */
}
nav ul{    
    display: flex;
    justify-content: end;
}
nav li{
    flex-shrink: 0;
}
nav a{
    font-size: 20px;
    margin-left: 200px;
    padding: 3px 10px;
}
nav a:hover {
    border-radius: 30px;
}

@media screen and  (max-width:820px){
    nav ul{
        justify-content: space-around;
        
    }
    nav a{
        margin-left: 10px;
        padding: 0;
    }
}