


/* main */
section{
    width: 90vw;
    display: block;
    margin: 60px auto;
}
/* animation_title */
.s1{     
    width: var(--size);
    height: var(--size3);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
    border: #fff5eb solid 13px;
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* animation_title */

/* animation_main_img */
.image{
    position: absolute;
    width: var(--size);
    height: var(--size3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    animation: image-switch-animation 22s infinite;
}
.src1{
    background-image: url(../img/main.jpg);
}
.src2{
    background-image: url(../img/top.jpg);
}
.src3{
    background-image: url(../img/main2.jpg);
}
@keyframes image-switch-animation {
    0%{ opacity: 0;}
    20%{ opacity: 1;}
    36%{ opacity: 1;}
    45%{ opacity: 0;}
    100%{ opacity: 0;}
}
.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 6s;
}
.image:nth-of-type(3) {
  animation-delay: 12s;
}
/* animation_main_img */
.main_text{
    text-align: center;
    letter-spacing: 3px; 
    text-shadow: 3px 2px 10px var(--color1);
    position: relative;
    z-index: 99;
}
.main_text h2{
    font-size: clamp(60px,10vw,150px);
    font-family: var(--font2);
}
.main_text p{
    font-size: 30px;
} 

@media screen and (max-width:820px){
    .s1{
        width: 500px;
        height: var(--size2);
        border: #fff5eb solid 8px;
    }
    .image{
        width: 500px;
        height: var(--size2);
    }
    .main_text p{
        overflow-wrap: break-word;
        font-size: 20px;
    }
}
@media screen and (max-width:480px){
    .s1{
        width: var(--size2);
        height: var(--size2);
        width: 300px;
        height: 300px;
        border: #fff5eb solid 8px;
    }
    .image{
        width: var(--size2);
        height: var(--size2);
        
    }
}

/* about */
section h2{
    padding-bottom: 28px;
    font-size: 38px;
}
.about img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


/* 
後で.aboutレスポンシブデザインつくる 
*/

.about_text{
    width: 500px;  
    margin-left: 50px;
    font-size:  15px; 
    text-align: left;
}
/* .about_text h3{
    text-align: left;
} */

@media  screen and (max-width:820px) {
    .about_text{
        font-size: 15px;
        text-align: center;
        padding-top: 15px;
    }
    .about_text h3{
        text-align: center;
    }
}
@media screen and (max-width:480px){
    .about_text{
        margin-left: 0;
    }
}

/* products */
.s3 h3{
    font-size: 26px;
    padding-bottom: 10px;
}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
}
.reverse{
    flex-direction: row-reverse;
}
.flex img{
    width: 200px;
}
.flex1 img{
    border:solid var(--color3) 5px;
}
.flex1 h3, .btn1 a:hover{
    color: var(--color3);
}

.flex2 img{
    border:solid var(--color4) 5px;
}
.flex2 h3, .btn2 a:hover{
    color: var(--color4);
}

.flex3 img{
    border:solid var(--color5) 5px;
}
.flex3 h3, .btn3 a:hover{
    color: var(--color5);
}

.flex4 img{
    border:solid  var(--color6) 5px;
}
.flex4 h3 , .btn4 a:hover{
    color: var(--color6);
}
.flex .products_text p{
    width: 350px;
    font-size: 0.9rem;
    text-align: center;
}

@media screen and (max-width:820px) {
    .flex img{
    width: var(--size2);
    height: 360px;
    object-fit: cover;
}
}
/* btn */
.btn{
    width: 60px;
    height: auto;
    font-size: 18px;
    display: block;
    margin: 0 0 0 auto;
    text-align: center;
}

/* btn_top */
.btn_top {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--color2);
    text-align: center;
    align-items: center;
    position: fixed;
    right: 60px;
    bottom: 20px;
}
.btn_top a{
        color: var(--color1);
        font-size: 24px;
        display: block;
        margin-top: 3px;
        margin-right: 2px;
}
@media screen and (max-width:820px) {
    .btn_top {
    right: 20px;
}
}